<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">

        
    </head>
    <body>
        <div class="split left">
            <div id="dz_container" class="dz_container rounded">
                <div class="hidden">
                    <input type="file" id=songUpload>
                </div>
                <div id="loading_graphic" class="hidden"></div>
                <div id="dz" class="dropzone rounded"></div>
                <!-- <img src="../static/images/audio_upload.png" alt=""> -->
                <div id="drop_icon">
                    <img src="{{ url_for('static', filename='images/audio_upload.png') }}" alt="">
                </div>
            </div>
            <button id="refresh_button" class="hidden" type="button">New Song</button>
        </div>
        <div class="split right">
            <h3>MUSIC GENRE <br> CLASSIFIER</h3>
            <div class="text_panel">
                <p id="intro">This site uses a <span>Convolutional Neural Network (CNN)</span> to predict the genre of any song
                    it hears.
                </p>
                <p id="instructions"><b>Instructions:</b> Using the box to the left, <span>Drag and Drop</span> or <span>Click</span>
                    to upload a <span>.WAV</span> audio file.  The file will be uploaded to our server and run through 
                    the <span>CNN model</span>. When the model is done making its prediction, you will see a graph of the model's 
                    average confidence across 10 musical genres.  The top confidence will be the model's best prediction for the 
                    songs genre!
                </p>
                <p id="tips"><b>Tips:</b> Try to keep the size of your uploaded <span>.WAV</span> file beneath <span>10 MB</span>.  
                    You can use a free software like Audacity to trim your song down to size!</p>
            </div>
            <div id="footer">&copy 2021 Leonard LoBiondo, Kurt Kuhn, Jessica Lane</div>
        </div>
        <!-- <script src="../static/js/canvasjs.min.js"></script> -->
        <!-- <script src="../static/js/app.js"></script> -->
        <script src="{{url_for('static', filename='js/canvasjs.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/app.js')}}"></script>
        <script src="{{url_for('static', filename='js/toast.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/p5.js')}}"></script>
        <script src="{{url_for('static', filename='js/sketch.js')}}"></script>
    </body>
</html>