:root {
    --black: #0B0C10;
    --dark_grey: #1F2833;
    --light_grey: #C5C6C7;
    --teal_accent: #66FCF1;
    --teal_dark: #45A29E;
}

body {
    font-family: "Rubik";
    min-width: 400px;
    min-height: 400px;
    overflow: auto;
    height: 100%;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

@media (max-width: 870px) {
    .left {
        width: 100%
    }

    .right {
        width: 0%
    }
}

@media (min-width: 870px) {
    .left {
        width: 65%
    }

    .right {
        width: 35%
    }
}

@media (max-width: 1020px) {
    h3 {
        font-size: 2rem;
    }

    p {
        font-size: .8rem;
    }
}

@media (min-width: 1020px) {
    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
    }
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    background-image: url("../images/crowd.jpg");
    background-color:var(--black);
}

.right {
    right: 0;
    background-color: var(--dark_grey);
    box-shadow: 0px 0px 10px 2px black;
    
}

.dz_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    max-height: 700px;
    margin: 20px 40px;
    height: 60%;
    width: 75%;
    background-color: var(--dark_grey);
    opacity: 1;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}

.dropzone {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.rounded {
    border-radius: 25px;
}

#drop_icon {
    position: absolute;
    filter: grayscale(100%);
    z-index: 1;
}

img {
    width: 150px;
    height: 150px;
}

.text_panel {
    background-color: var(--black);
    padding: 20px 30px;
    height: 100%;
}

h3 {
    margin: 0px;
    padding: 20px 10px;
    text-align: center;
    color: var(--teal_accent);
    text-shadow: 2px 2px 4px #000000
}

p {
    padding-bottom: 60px;
    color: var(--light_grey);
}

b {
    color: white;
}

span {
    color: var(--teal_accent);
}

.hidden {
    display: none;
}

#loading_graphic {
    position: absolute;
    z-index: 6;
}

#refresh_button {
    margin-top: 20px;
    background-color: var(--dark_grey);
    border: 2px solid var(--teal_accent);
    color: var(--teal_accent);
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 12px;
}

#refresh_button:hover {
    background-color: var(--teal_accent);
    color: var(--dark_grey);
}

#footer {
    height: 20px;
    color: white;
    background-color: var(--black)
}
